.row-layout-3 {
    display: flex;
    flex-direction: column;
    height: 100%;

    .top-row,
    .bottom-row {
        display: flex;
        justify-content: space-between; 
    }

    .middle-row {
        flex: 1;
    }
}