// Colors
$color-white: #fff;

$color-azul-blue: #1155E7;
$color-apple-red: #CD3711;
$color-tomato-red: #F64109;
$color-bright-grey: #b2b8c3;
$color-dark-grey: #37384c;

// Fonts
$font-orbitron: 'Orbitron', sans-serif;
$font-rajd: 'Rajdhani', sans-serif;

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('preloader', 'navigation', 'content', 'canvas');
