<div class="preloader">
    <div class="preloader_wrapper">           
        <p class="preloader_items-count"></p>
        <div class="preloader_loader-container">
            <div class="preloader_progress-bar"></div>
        </div>
        <p class="preloader_progress-percent"></p>
    </div>
</div>