.home {
    @extend %viewport;
    background: url('/static/assets/img/spaceTexture.jpeg');
    
    /*  --------------------
            Top Row 
    --------------------  */
    .home_container_header {   
    
        // Title
        .home_container_header_title {
            display: flex;
            align-items: center;

            h1 {
                position: relative;

                span {
                    @extend %title-53;

                   &:nth-child(1) {
                    color: $color-white;
                   }

                   &:nth-child(2) {
                    color: $color-azul-blue;
                   }
                }

                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: -55%;
                    width: 50%;
                    height: 3px;
                    background-color: $color-tomato-red;
                }
            }

            img {
                width: 70px;
                margin-right: 10px;
            }
        }

    }

    /*  --------------------
            Middle Row 
    --------------------  */
    .home_container_middle-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        img {
            max-height: 350px;
        }
    }

    /*  --------------------
            Bottom Row 
    --------------------  */
    .home_container_bottom-content {
        img {
            max-width: 350px;
        }

        ul {
            li {
                letter-spacing: .1rem;
                padding: 5px;
                text-align: end;
            }
        }
    }
    
}

/*  --------------------
        Link three.js 
    --------------------  */
    a.home_label {
        display: block;
        width: 100px;
        height: 100px;
        transition: all .2s ease;
        font-size: 1.2rem;
    }

    a.home_label:hover {
        color: $color-tomato-red;
        
    }